<footer class="footer text-white py-4 px-3">
  <div class="footer-container">

    <div class="footer-logo text-center">
      <a [routerLink]="['/inicio']">
        <img src="/assets/logofooter.png" class="logo" alt="Logo Colegio">
      </a>
      <div class="footer-redes mt-3 d-flex justify-content-center gap-3">
        <a href="https://www.facebook.com/colegiodeopticosdemisiones" target="_blank">
          <img src="/assets/iconos/facebook.svg" class="icono-red" alt="Facebook">
        </a>
        <a href="https://www.instagram.com/colegiodeopticosdemisiones/" target="_blank">
          <img src="/assets/iconos/instagram.svg" class="icono-red" alt="Instagram">
        </a>
      </div>
    </div>

    <div class="footer-links">
      <p><strong>Colegio de Ópticos de la Prov. de Misiones</strong></p>
      <p>
        <strong>Dirección:</strong> Rivadavia 1642 - Edificio Mercurio 5° E. Para ir a la ubicación presione 
        <a href="https://www.google.com.ar/maps/place/Rivadavia+1642,+N3300+Posadas,+Misiones/@-27.3658145,-55.8939883,17z/data=!3m1!4b1!4m6!3m5!1s0x9457be34b3741137:0x4db4a9292460df25!8m2!3d-27.3658145!4d-55.891408!16s%2Fg%2F11tjz2r4lh?hl=es&entry=ttu" target="_blank">
          aquí
        </a>.
      </p>
      <p><strong>Contacto:</strong> 📱 <a href="https://wa.me/+5493765108396" target="_blank">3765-108396 </a></p>
      <p>
        <strong>Correo:</strong> 📧 
        <a href="mailto:colegiodeopticosdemisiones@hotmail.com">
          colegiodeopticosdemisiones@hotmail.com
        </a>
      </p>
    </div>

  </div>
</footer>
