<div class="institucional-container">
    <div class="title-section">
      <h2>UNIDAD POR LA PROFESIÓN</h2>
      <span class="badge">Comisión Directiva</span>
    </div>
  
    <div class="card-section">
      <div class="info-card">
        <ul>
          <li><strong>Presidente:</strong> Aquino Fabricio <span>/Mat. 182</span></li>
          <li><strong>Vice-Presidente:</strong> Gimenez Marcos <span>/Mat. 117</span></li>
          <li><strong>Secretaria:</strong> Neuman Rocio <span>/Mat. 110</span></li>
          <li><strong>Tesorería:</strong> Ruiz Diaz Virginia <span>/Mat. 097</span></li>
          <li><strong>Vocal Titular I:</strong> Romero Sabrina <span>/Mat. 141</span></li>
          <li><strong>Vocal Titular II:</strong> Chamorro Gisela <span>/Mat. 156</span></li>
          <li><strong>Vocal Suplente I:</strong> Valleau Noraliz <span>/Mat. 195</span></li>
          <li><strong>Vocal Suplente II:</strong> Fernández Roxana <span>/Mat. 086</span></li>
          <li><strong>Revisor de Cuenta I:</strong> Raczkowski Mauro <span>/Mat. 185</span></li>
          <li><strong>Revisor de Cuenta II:</strong> Cabral Franco <span>/Mat. 099</span></li>
        </ul>
      </div>
  
      <div class="info-card ethics-card">
        <h5>Tribunal de Ética</h5>
        <ul>
          <li>Puzcko Mirta <span>/Mat. 067</span></li>
          <li>Mattjie Sanz Emmy <span>/Mat. 109</span></li>
          <li>Gonzalez Celsa <span>/Mat. 101</span></li>
          <li>Pisani Carlos <span>/Mat. 011</span></li>
          <li>Bustos Fernando <span>/Mat. 102</span></li>
        </ul>
      </div>
    </div>
  </div>
  