<div class="m-0 row justify-content-center mt-5 mb-5">
    <div class="col-5 card border-dark text-center">
      <div class="card-header mt-1">{{titulo}}</div>
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="login()" novalidate>
  
          <div class="form-group mb-3">
            <input type="text"
                   [(ngModel)]="user.username"
                   class="form-control"
                   name="username"
                   placeholder="Nombre Usuario"
                   required
                   autocomplete="username">
          </div>
  
          <div class="form-group mb-3">
            <input type="password"
                   [(ngModel)]="user.password"
                   class="form-control"
                   name="password"
                   placeholder="Contraseña"
                   required>
          </div>
  
          <div class="form-group">
            <button type="submit"
                    class="btn btn-outline-dark m-3 btn-shadow"
                    [disabled]="!loginForm.valid">
              Iniciar Sesión
            </button>
          </div>
  
        </form>
      </div>
    </div>
  </div>